@model UserRegistration

<h1>Sign up</h1>
<form asp-controller="Home" asp-action="HandleSubmit" method="post" role="form">

    <label asp-for="FirstName">First Name: </label>
    <input asp-for="FirstName" />
    <label asp-for="LastName">Last Name: </label>
    <input asp-for="LastName" />

    <label asp-for="Email">Email address: </label>
    <input asp-for="Email" />
    <label asp-for="Password">Password: </label>
    <input asp-for="Password" />

    <input type="submit" />
</form>
